<div class="wrapper">
    <section id='steezy'>
      <h2>Gestion des points de fidélité</h2>
      <p>100 points : un jeu offert au prix de 20 euros maximum.
        <br>200 points : un jeu offert au prix de 50 euros maximum
        <br>500 points : trois jeu offert au prix de 50 euros maximum
      </p>
    </section>
  
    <section id='real'>
      <h2> Définition des offres</h2>
      <p>Type de Palier :
        <br>Palier Bronze : Deux points gagné pour un euro dépensé
        <br>Palier Silver : Trois points gagné pour un euro dépensé
        <br>Palier Gold : Cinq points gagné pour un euro dépensé
      </p>
      <p>Offre à l'inscription : 10 points offerts</p>
    </section>
  
    <section id='big'>
        <h2>Prix des offres</h2>
        <p>Offre Bronze : 20 euros par mois
          <br>Offre Silver : 30 euros par mois
          <br>Offre Gold : 50 euros par mois
        </p>
    </section>
  </div>